#app,
.course-card.detail-card article {
    min-height: auto;
}
@font-face {
    font-family: CenturyGothic;
    font-style: normal;
    src: url(../fonts/CenturyGothic.ttf) format("truetype");
}
#app {
    height: unset;
    margin: 0;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
        min-height: 87px;
        max-height: unset;
        padding-bottom: 9px;
    }
}
.mobiles .navbar-light .navbar-brand {
    position: absolute;
    margin-left: 13%;
    top: 0;
}
.mobile li.nav-item.section-auth {
    display: block;
    position: fixed;
    right: 0;
    top: 2%;
}
.mobile li.nav-item.dropdown.profile-dropdown {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
}
.navbar-brand {
    margin-left: 10px;
}
.auth-page h1,
.auth-page h2,
.nav-brand-v2 {
    margin-left: 0;
}
.navbar-brand img {
    width: 200px;
}
#navbarSupportedContent ul {
    padding-top: 0;
}
#navbarSupportedContent li.nav-item {
    padding: 0.2rem 0.15rem !important;
}
.navbar-light .navbar-toggler {
    position: fixed;
    top: 3%;
}
.profile-dropdown {
    background: unset;
    text-align: right;
    width: min-content;
    padding: 0.775rem 0 !important;
}
.navbar-nav .profile-dropdown.open .dropdown-menu {
    position: static;
    float: none;
    background-color: unset;
    border: none;
    box-shadow: none;
}
.navbar-nav .profile-dropdown.open .dropdown-menu a {
    color: #fff;
}
.notification a .badge {
    top: 0;
    position: absolute;
    right: unset;
}
.dropdown-menu-arrow:after,
.dropdown-menu-arrow:before {
    content: none;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    z-index: 1001;
}
.banner-section-text {
    margin-top: 30%;
}
.footer-navbar-brand {
    width: unset;
    display: inline-block;
}
.footer-navbar-brand img {
    width: 100%;
}
.footer-navbar-brand-v2 {
    width: 59%;
}
.footer-navbar-brand-v2 img {
    width: 57%;
}
.footer-span img {
    width: 20%;
}
.auth-login {
    background: url(/images/backgrounds/login_side_image.png) 0 0 / cover no-repeat;
    border-left: 50px solid #fff;
    height: 34%;
    border-left: none;
    padding: 40% 2%;
}
.auth-page .card.login {
    padding: 13% 0;
    border: none;
}
.auth-page h1 {
    color: #404040;
    font-size: 24px;
    margin-bottom: 0.1rem;
    font-weight: 600;
    text-align: center;
}
.auth-page h2 {
    color: #707070;
    font-size: 18px;
    text-align: center;
}
.remember-me {
    margin-left: 18%;
}
.reset-pass {
    float: right;
    margin-right: 0;
    margin-top: 0;
}
video#bghid,
video#bgvid {
    width: 100%;
    float: left;
    margin-top: 0;
    height: unset;
}
.general-section .banner-section-text {
    margin-top: 2%;
}
.btn.btn-outline-dark.btn-cancel,
.button.button-submit {
    padding: 5px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
}
.downloable-table tr td.downloable-table-first,
.session-panel .nav-tabs li {
    width: 50%;
}
.nav-tabs a {
    font-size: 15px;
    color: #404040;
}
.tabs-spacing {
    padding-left: 1rem;
}
.session-card-calendar {
    display: block;
    padding-bottom: 12px;
}
.no-padding-right {
    padding-right: 15px !important;
}
.no-padding-left {
    padding-left: 15px !important;
}
.rating {
    margin-bottom: 2rem;
}
.previous_h2 {
    color: #404040;
    font-weight: 600;
    font-size: 23px;
}
.session_details-panel .nav-pills .nav-item a {
    font-size: 12px;
    color: #404040;
}
.session-tabs {
    box-shadow: 4px 4px 8px #0000004d;
    background: #fff;
    padding-left: 0;
}
.session_details-panel .session-tabs {
    min-width: 135%;
}
.session-tabs li.nav-item {
    padding: 1rem 0.2rem;
}
.session-tabs a {
    padding: 5px 2px;
    font-size: 12px;
    border: none;
}
.session_details-panel .session-tabs .nav-item.active a {
    background: #f87522;
    border: 2px solid #f87522;
    color: #fff;
    padding: 5px 2px !important;
    border-radius: 22px;
}
.submitbuttons {
    margin-top: 1rem;
    text-align: right;
    display: flex;
}
.btn.btn-outline-dark.btn-cancel {
    border-radius: 16px;
    background-color: none;
    border: none;
    color: #707070;
}
.button.button-submit {
    background-color: #6fc6b8;
    border-radius: 26px;
    border: none;
    color: #fff;
}
.btn-overall.btn_login,
.btn-overall.btn_mobile_register {
    border: 2px solid #2d3047;
    padding: 0.1rem 0.2rem !important;
    background: #2d3047;
}
#file-upload-form {
    margin: 2rem auto auto;
    width: 100%;
}
.dropzone-wrapper {
    border: 2px dashed #c2cdda;
    color: #707070;
    position: relative;
    height: 300px;
}
.navbar-expand-md .navbar-nav .nav-link {
    font-size: 15px;
    padding: 0.45rem;
}
.navbar-expand-md .navbar-nav .nav-link.dropdown-item {
    font-size: 13px;
    padding: 0.45rem;
}
.top-general {
    margin: 10% 0 0;
}
section.top-general {
    margin: 5% 0 0;
}
.btn-overall.btn_login {
    color: #fff;
    width: 80px;
    height: 30px;
    flex-grow: 0;
}
.btn-overall.btn_mobile_register {
    color: #fff;
    flex-grow: 0;
    border-radius: 0 !important;
}
.alignment-class {
    margin: 0 2%;
}
.mobile-container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}
.sessions-card article .thumbnail img {
    min-height: 145px;
    max-height: 200px;
}
.sessions-card article {
    min-height: 420px;
    max-height: 420px;
}
.footer-span {
    padding: 2% 0;
    margin-left: 0;
}
.footer-heading {
    padding-inline-start: 0;
    color: #fff;
    font-family: CenturyGothic;
    margin-top: 1rem;
    margin-bottom: 0;
}
.footer-description {
    padding-inline-start: 0;
    color: #fff;
    margin-bottom: 1rem;
    font-size: 12px;
    overflow-wrap: anywhere;
}
.replies {
    margin-left: 0;
    font-size: 12px;
}
.resource-span-icon img {
    width: 20px;
}
.like-mobile {
    margin-right: 10px;
}
.downloable-table tr td.downloable-table-second a,
.like-count .fa {
    font-size: 14px;
}
.share img {
    width: 16px !important;
}
.downloable-table {
    width: 100%;
    margin-top: 1rem;
}
.download-span-icon img {
    width: 16px;
}
.home-banner-auth .banner-section-text h1 {
    font-family: CenturyGothic;
    font-size: 58px;
    font-weight: 400;
    text-align: center;
}
.home-banner-auth .banner-section-text p {
    font-family: CenturyGothic;
    font-size: 61px;
    font-weight: 700;
}
.footer-text ul {
    margin-left: -8%;
}
.footer-partner {
    position: relative;
    background: url(/images/banners/footer.png) bottom/cover no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    font-size: 14px;
    bottom: 0;
    height: 39px;
}
.signin-icon {
    display: block;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
}
.btn_get_touch {
    background: #ff6c0d;
    border: 2px solid #ff6c0d;
    color: #fff;
    padding: 6px !important;
    border-radius: 0 !important;
    margin: 0 !important;
    font-size: 14px !important;
    float: unset;
    left: 22%;
}
.child_header:before {
    content: "";
    position: absolute;
    bottom: 3%;
    height: 1px;
    width: 20%;
    border-bottom: 3px solid #ff6c0d;
    left: 40%;
}
.session-panel{
    margin-top:10%;
}
.mobile-row-login{
    margin-top:18%;
}

@media (max-width: 768px) {
    .footer-span {
        text-align: start;
    }
    .home-banner .banner-section-text h1 {
        font-family: CenturyGothic;
        font-size: 32px;
        font-weight: 400;
    }
    .home-banner .banner-section-text p {
        font-family: CenturyGothic;
        font-size: 32px;
        font-weight: 700;
    }
    .home-banner .banner-section-text {
        margin-top: 23%;
        padding: 15px 15px 0;
    }
    .device-banner-auth .home-banner .banner-section-text {
        margin-top: 2%;
        padding: 15px 15px 0;
    }


}
@media (max-width: 767px) {
    section.top-general {
        margin: 25% 0 0;
    }
}
@media (max-width: 480px) {
    .home-banner .banner-section-text {
        margin-top: 2%;
        padding: 15px 15px 0;
    }
}

@media(max-width: 420px){
    .mobile-row-login {
        margin-top: 3%;
      }
}
@media (max-width: 320px) {
    .jarallax-img {
        height: 115px;
    }
    .top-general {
        margin: 20% 0 0;
    }
    section.top-general {
        margin: 33% 0 0;
    }
    .auth-page .card.login {
        padding: 5% 0;
        border: none;
      }
    .mobile-row-login{
        margin-top:0;
    }
}
@media (max-width: 280px) {
    .jarallax-img {
        height: 115px;
    }
    .top-general,
    section.top-general {
        margin: 8% 0 0;
    }
}
.auth-page .card.login.register {
    padding: 12% 0;
    border: none;
}
.no-left {
    padding-left: 0 !important;
}
.no-right {
    padding-right: 0 !important;
}
.progress-filter .btn-overall.btn_black_bg {
    background: #2d3047;
    border: 2px solid #2d3047;
    color: #fff;
    padding: 0.5rem 1rem !important;
    border-radius: 0 !important;
}
.icon-notifications {
    background-image: url(/images/icons/notification-header.svg);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    width: 20px;
    height: 20px;
}
.btn-overall.btn_create_group {
    background: #015488;
    border: 2px solid #015488;
    color: #fff;
    margin: 0;
    margin-top: 1rem !important;
    padding: 6px !important;
    font-size: 14px;
    border-radius: 0;
    float: left;
}
.nav-pills .show > .nav-link,
.scroll-tabs .nav-pills .nav-link.active {
    color: #ff6c0d;
    background: #fff;
    box-shadow: none;
    opacity: 1;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
}
.course-card {
    padding: 0 0.5px 20px;
    height: 100%;
    width: 100%;
}
.progress-header {
    color: #ff6c0d;
    font-weight: 700;
    font-size: 16px;
}
.jarallax-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.accordion__item-button.white-bg {
    background-color: #fff;
    color: #404040;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1607843137254902);
    padding: 10px 0 10px 10px;
    font-weight: 400;
    font-size: 12px;
}
.faq-item .accordion__item-body {
    padding-left: 0;
    margin-top: 15px;
}

.branch-card{
    padding:10px;
}


.navbar-toggler-icon.hidden{
    display:block !important;
}

#tour_videos {
    bottom: 98px;
    right: 30px;
    opacity: 1;
    visibility: visible;
    color: #fff;
    font-size: 14px;
    padding: 5px !important;
}
.btn_get_touch {
    background: #ff6c0d;
    border: 2px solid #ff6c0d;
    color: #fff;
    padding: 4px !important;
    border-radius: 0 !important;
    margin: 0 !important;
    font-size: 14px !important;
    float: unset;
     left: 0; 
}
#tour_videos {
    display: inline-block;
    background-color: #ff6c0d;
    text-align: center;
    position: unset;
    transition: background-color .3s, opacity .5s, visibility .5s;
    z-index: 1000;
}

.mobile-suport-row{
    padding-left: 5px;
    padding-right: 5px;
}

#tour_videos::before {
    content: "\f04b";
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    line-height: 0;
    color: #fff;
    padding-right: 5px;
}


.app-pattern {
    background-image: url(/images/icons/app_pattern.png);
    width: 100%;
    background-repeat: repeat;
    background-size: 100%;
    text-align:center;
    color:#fff;
}

.app-container h1 {
    font-size: 21px;
    color: #fff;
    padding: 16px 0;
    text-align: center;
    margin-bottom: 0;
    padding-left:15px;
    padding-right:15px;
    padding-bottom: 10px;
}

.app-container p {
    text-align: center;
    font-size: 16px;
    padding-left:15px;
    padding-right:15px;
    margin-bottom: 0;
}

.c_categories-tabs {
    overflow: auto;
    margin-left:0px;
  }
  .c_category-tabs {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  
  .course-category-tab .nav-item{
   padding: 20px 40px;
   padding-bottom:0;
  }
  .course-category-tab .nav-item.first-nav-item{
    padding-left:0;
  }
  
  .course-category-tab .nav-item a:hover {
    color: #FF6C0D;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  
  .course-category-tab .nav-item a.active {
    color:#FF6C0D;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  a {
      font-size: 18px;
      color: #FF6C0D;
  }
  