<template>
  <div class="row no-gutters my-course-mobile">
    <div class="col-12">
      <img v-bind:src="image" alt="Course" class="preview-img" />
    </div>
    <div class="col-12">
      <div class="course-title container">
        <h3 class="title text-blue">{{ title }}</h3>
      </div>
      <div class="col-12">

         <div class="row no-gutters">
         
             <p style="text-align:left;padding-left:0">Start Date: {{ start }}</p>
            
          </div>
        <div class="row no-gutters">
         
             <p style="text-align:left;padding-left:0">Enrolled: {{ date }}</p>
            
          </div>
        
        <div class="row no-gutters">
          <div class="col stats" >
            <span><p>Completed:</p></span>
            <span
              ><p v-if="completed">Completed</p>
              <p v-else>Incomplete</p></span
            >
          </div>
        </div>
        
        <div class="row no-gutters">
         
             <p style="text-align:left;padding-left:0">Score: {{ progress }}</p>
            
          </div>
        </div>
       
      </div>
      
    
    <div class="col-12">
      <course-action-mobile
        mobile="0"
        :status="status"
        :completed="completed"
        :prev-score="prevScore"
        :current-score="currentScore"
        :action="action"
        :evaluate="evaluate"
        :evalaction="evalaction"
      ></course-action-mobile>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.my-course-mobile {
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding: 5%;
  .preview-img {
    overflow: hidden;
    height: 155px;
    width: 100%;
    padding: 0;
    object-fit: contain;
  }
  .text-blue {
    color: #404040;
    font-size: 18px;
  }
  .sub-title {
    padding-bottom: 10px;
    p {
      text-align: left;
      padding: 0;
      color: #707070;
    }
  }
  .stats {
    span {
      display: inline-flex;
      h6 {
        color: #707070;
        font-size: 16px;
      }
      p {
        text-align: left;
        padding: 0 0 5% 0;
      }
    }
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: opacity 0.2s;
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
}
</style>

<script>
import CourseActionMobile from "./CourseActionMobile.vue";

export default {
  components: {
    CourseActionMobile,
  },
  data: function () {
    return {
      passMark: 70,
      more: false,
    };
  },
  props: [
    "title",
    "image",
    "date",
    "status",
    "progress",
    "prevScore",
    "currentScore",
    "action",
    "start",
    "enrolled",
    "evaluate",
    "evalaction",
  ],
  computed: {
    completed: function () {
      if (this.status == "Completed") {
        this.completed = true;
      }
    },
    actionType: function () {
      //First time
      if (this.prevScore == 0 && !this.completed) {
        return "first-time";
      }
      //Passed
      if (this.currentScore >= this.passMark && this.completed) {
        return "passed";
      }
      // Failed
      if (this.currentScore < this.passMark && this.completed) {
        return "failed";
      }
      // Failed and retaken
      if (this.prevScore < this.passMark && !this.completed) {
        return "failed-retaking";
      }
      // Passed and refreshing
      if (this.prevScore >= this.passMark && !this.completed) {
        return "passed-retaking";
      }
    },
  },
  methods: {
    toggleMore: function (e) {
      this.more = !this.more;
    },
  },
};
</script>
