<template>

</template>



<script>

    export default {
        props: ["authenticated", "carted", "addAction", "removeAction"],
        data() {
            return {
                random_pct: 0,
                increasing_pct: 0,
                decreasing_pct: 100
            };
        },
        mounted() {
            setInterval(() => {
                if (this.is_paused)
                    return

                this.random_pct = Math.ceil(Math.random() * 100)
                this.increasing_pct = Math.min(this.increasing_pct + 5, 100)
                this.decreasing_pct = Math.max(this.decreasing_pct - 5, 0)
            }, 2000)
        }
    };
</script>