<template>
  <div
    class="modal fade notification"
    id="shareModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="shareModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareModalLabel">Share this course</h5>
        </div>
        <div class="clearfix">
          <div class="divider div-dark div-dot-arsenic"></div>
        </div>
        <div class="modal-body">
          <div>
            <div class="social">
              <a class="email" href="#" target="_blank">
                <i class="fas fa-envelope"></i>
                Email
              </a>
              <a class="linkedin" href="#" target="_blank">
                <i class="fab fa-linkedin"></i>
                Linkedin
              </a>
              <!-- <a class="facebook" href="#" target="_blank">
                <i class="fab fa-facebook-square"></i>
                Facebook
              </a> -->
              <!-- <a class="twitter" href="#" target="_blank">
                <i class="fab fa-twitter-square"></i>
                Twitter
              </a> -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="input-group mb-3 link">
            <input id="shareUrl" type="text" class="form-control" :value="url" readonly="readonly">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fas fa-clipboard" v-on:click="copyLink"></i>
              </span>
            </div>
          </div>
          <p class="copied" v-if="copied">Course url copied</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.modal-content{
background: #D4F5F4;
border-top: 4px solid #33BCAE;
border-radius: 0;
  .modal-header{
      text-align: center;
      align-items: center;
      display: block;
      border-top: 1px solid #33BCAE;
        .modal-title{
        color: #23245F;
        font-weight: bold;
        font-size: 18px;
        }
  }      
}
.social {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0 0 5%;
  a {
    text-decoration: none;
    display: inline-block;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 20px;
    i {
      padding: 5px;
    }
  }
  .facebook {
    background: #4267b2;
    color: white;
  }
  .twitter {
    background: #00aced;
    color: white;
  }
  .email{
    background:#EE4089;
    color:white;
  }
  .linkedin {
    background: #15b7c7;
    color: white;
  }
}

.link {
  margin-bottom: 0 !important;
  input,
  div {
    height: 36px;
    font-size: 12px;
    i {
      cursor: pointer;
    }
  }
}

.modal-footer {
  display: block !important;
  border-top: none;
}
.copied {
  color: #d6803e !important;
  margin: 0;
  text-align: center;
  font-size: 12px;
}
</style>


<script>
export default {
  data() {
    return {
      url:
        "",
      copied: false
    };
  },
  methods: {
    copyLink() {
      /* Get the text field */
      var copyText = document.getElementById("shareUrl");

      /* Select the text field */
      copyText.select();

      /* Copy the text inside the text field */
      document.execCommand("copy");

      /* Alert the copied text */
      this.copied = true;
      setTimeout(() => {
        this.copied = false;
      }, 1000);
    }
  }
};
</script>
