<template>
  <div class="comment-display">
    <a v-if="commentType == 'no-comment'" class="no-comment text-center">
      No comments</a
    >
    <a
      v-else-if="commentType == 'has-comment'"
      @click="isCommentLevel ^= true"
      class="view-comment"
    >
      View replies
      <i class="fa fa-angle-down" aria-hidden="true"></i
    ></a>
    <div class="col-md-12">
      <div v-show="isCommentLevel" class="comment-inner">
        <div v-for="comment in subComment" :key="comment.id" class="com">
          <div class="course-title">
            <div class="row">
              <div class="col-2">
                <img :src="'/uploads/' + comment.pics" :alt="comment.name" />
              </div>
              <div class="col-10">
                <div class="title">{{ comment.name }}</div>
                <div class="row">
                  <div class="col-md-12">
                    <p class="text-left">{{ comment.comment }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.comment-display {
  display: inline-grid;
  width: 90%;
}
.achievements {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  align-content: center;
  text-align: center;
  .achievement {
    text-align: center;
    img {
      cursor: pointer;
      max-width: 60px;
    }
  }
  img {
    margin-right: 5px;
  }
}

.my-course {
  padding: 1% 0;
  border-bottom: 1px solid #ccc;
  .preview-img {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
    object-fit: contain;
    padding: 0;
  }
  .course-title {
    text-align: left;
    .title {
      padding: 5px 0;
      a {
        font-size: 16px;
        color: #21aa55;
        text-align: left;
        background: none;
        padding: 0;
      }
    }
    .sub-title {
      font-size: 14px;
      color: #707070;
      font-weight: bold;
    }
    .row {
      margin-bottom: 1%;
      margin-top: 1%;
    }
    .innerstats {
      border: 1px solid #cecece;
      text-align: center;
      h5 {
        color: #707070;
        font-size: 15px;
        padding-top: 5%;
      }
      p {
        font-size: medium;
        text-align: center;
        padding: 0;
        color: #707070;
        font-size: 13px;
      }

      .stats {
        margin-left: -15px;
      }
    }
  }
}
.detail-card .course-content {
  .action {
    display: grid;
    position: absolute;
    right: 0;
    bottom: 8%;
    width: 80%;
    a {
      padding: 0;
      margin-top: 5px;
      color: #f87522 !important;
      font-size: 12px;
      text-align: center;
      cursor: pointer;
      background: #d2eadb;
    }
    a:hover {
      text-decoration: none;
    }
    p {
      margin: 0;
      padding: 0;
      color: #404040 !important;
      text-align: unset;
      span.icons {
        float: left;
        background: #21aa55;
        width: 25%;
        height: auto;
        color: #fff;
        padding: 5px;
        text-align: center;
      }
      span {
        float: left;
        padding: 4% 5%;
      }
      span.numbers {
        float: right;
        border-left: 1px solid #fff;
        width: 20%;
      }
    }
  }
}

.comment {
  margin-top: 20px;
  a.canceled {
    display: initial !important;
    background: #fff !important;
    padding: 1% 4%;
    border: 2px solid #23245f;
    text-align: center;
    border-radius: 2rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 0;
    flex-grow: 1;
    cursor: pointer;
  }
}

.comment-section {
  .com {
    border-bottom: none;
  }
  .no-comment {
    display: none;
  }
  .view-comment {
    display: block;
    background: #fff;
    cursor: pointer;
    font-size: 16px;
    color: #818181;
    padding-left: 10px !important;
    font-weight: normal;
  }

  .comment-inner {
    background: #ffffff;
    padding: 1% 0;
    height: auto;
    overflow: auto;
    margin: auto;
    .course-title {
      text-align: left;
      padding: 20px;
      padding-top: 5px;
      .title {
        padding: 5px 0;
        font-size: 15px;
        color: #424242;
        text-align: left;
        background: none;
        padding: 0;
        font-weight: bold;
      }
      .sub-title {
        font-size: 12px;
        color: #707070;
        font-weight: bold;
        span {
          float: right;
          font-size: 12px;
          color: #707070;
        }
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin: auto;
        background-size: cover;
        float: unset;
      }
      .row {
        margin-bottom: 1%;
        margin-top: 0;
        p {
          color: #666666;
          font-size: 15px;
          padding: 1% 0;
        }
      }
      a.continue {
        background: #23245f;
        padding: 0.75% 2.5%;
        color: #fff !important;
        font-size: 14px !important;
        border-radius: 28px;
      }
      a.purple-borderd {
        padding: 0.15% 0.5%;
        border: 2px solid #f87522;
        color: #fff;
        background: #f87522;
        font-size: 12px;
      }
      .comment-save-btn {
        font-size: 14px;
      }
      .comment-cancel-btn {
        font-size: 14px;
      }
      .comment-btn:hover {
        background: unset;
      }
      .lower-action {
        p {
          padding: 5px !important;
          color: #fff;
          font-size: 14px !important;
          float: right;
          text-align: center !important;
          span {
            padding-right: 5px;
            margin-right: 5px;
          }
          .numbers {
            float: right;
            border: left;
            border-left: 1px solid;
            padding-left: 5px;
          }
          .icons {
            float: left;
          }
        }
        a.canceled {
          display: initial !important;
          background: #fff !important;
          padding: 1%;
          border: 2px solid #49237e;
          text-align: center;
          border-radius: 2rem;
          position: relative;
          z-index: 0;
          overflow: hidden;
          margin: 0;
          flex-grow: 1;
          cursor: pointer;
          color: #49237e;
          float: right;
        }
      }
    }
    .replies {
      color: #313131;
      float: left;
    }
  }
}

@media (max-width: 1444px) {
  .action {
    top: 0px;
  }
}
.comment-save-btn {
  font-size: 14px;
}
.comment-cancel-btn {
  font-size: 14px;
}

@media (max-width: 840px) {
  .comment-display {
    display: inline-grid;
    width: unset;
  }

  .comment-section {
    .com {
      border-bottom: none;
    }
    .no-comment {
      display: none;
    }
    .view-comment {
      display: block;
      background: #fff;
      cursor: pointer;
      font-size: 16px;
      color: #818181;
      padding-left: 10px !important;
      font-weight: normal;
    }

    .comment-inner {
      background: #ffffff;
      padding: 1% 0;
      height: auto;
      overflow: auto;
      margin: auto;
      .course-title {
        text-align: left;
        padding: 20px;
        padding-top: 5px;
        .title {
          padding: 5px 0;
          font-size: 15px;
          color: #424242;
          text-align: left;
          background: none;
          padding: 0;
          font-weight: bold;
        }
        .sub-title {
          font-size: 12px;
          color: #707070;
          font-weight: bold;
          span {
            float: right;
            font-size: 12px;
            color: #707070;
          }
        }
        img {
          width: 30px;
          height: 30px;
          border-radius: 100%;
          margin: auto;
          background-size: cover;
          float: unset;
        }
        .row {
          margin-bottom: 1%;
          margin-top: 0;
          p {
            color: #666666;
            font-size: 15px;
            padding: 1% 0;
          }
        }
        a.continue {
          background: #23245f;
          padding: 0.75% 2.5%;
          color: #fff !important;
          font-size: 14px !important;
          border-radius: 28px;
        }
        a.purple-borderd {
          padding: 0.15% 0.5%;
          border: 2px solid #f87522;
          color: #fff;
          background: #f87522;
          font-size: 12px;
        }
        .comment-save-btn {
          font-size: 14px;
        }
        .comment-cancel-btn {
          font-size: 14px;
        }
        .comment-btn:hover {
          background: unset;
        }
        .lower-action {
          p {
            padding: 5px !important;
            color: #fff;
            font-size: 14px !important;
            float: right;
            text-align: center !important;
            span {
              padding-right: 5px;
              margin-right: 5px;
            }
            .numbers {
              float: right;
              border: left;
              border-left: 1px solid;
              padding-left: 5px;
            }
            .icons {
              float: left;
            }
          }
          a.canceled {
            display: initial !important;
            background: #fff !important;
            padding: 1%;
            border: 2px solid #49237e;
            text-align: center;
            border-radius: 2rem;
            position: relative;
            z-index: 0;
            overflow: hidden;
            margin: 0;
            flex-grow: 1;
            cursor: pointer;
            color: #49237e;
            float: right;
          }
        }
      }
      .replies {
        color: #313131;
        float: left;
      }
    }
  }

  .view-comment {
    display: block;
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    color: #818181;
    padding-left: 10px !important;
    font-weight: normal;
  }
}
</style>
<script>
import FeedAction from "./FeedAction.vue";
import Comment from "./Comments.vue";
import SubComment from "./SubComments.vue";
import axios from "axios";
export default {
  components: {
    FeedAction,
    Comment,
    SubComment,
  },
  data: function () {
    return {
      isCommentLevel: false,
      childCount: {},
      subComment: {},
    };
  },
  props: ["follow", "courseid", "comment"],
  methods: {
    getSubCommentCount: function () {
      axios
        .get(
          "/profile/subCommentCount/" +
            this.follow +
            "/" +
            this.courseid +
            "/" +
            this.comment
        )
        .then((response) => {
          this.childCount = response.data.count;
        });
    },
    getSubComment(id) {
      axios
        .get(
          "/profile/subComment/" +
            this.follow +
            "/" +
            this.courseid +
            "/" +
            this.comment
        )
        .then((response) => {
          this.subComment = response.data.subdetails;
          console.log(this.subComment);
        });
    },
  },
  created() {
    this.getSubComment();
    this.getSubCommentCount();
  },
  computed: {
    commentType: function () {
      if (this.childCount == 0) {
        return "no-comment";
      }
      if (this.childCount > 0) {
        return "has-comment";
      }
    },
  },
};
</script>
