<template>
  <div class="row no-gutters my-course" v-bind:id="unique">
    <div class="col-2">
      <img v-bind:src="image" alt="Course" class="preview-img" />
    </div>
    <div class="col-8">
      <div class="course-title">
        <div class="title">
          <a target="_blank">{{ title }}</a>
        </div>
        <div class="sub-title">{{ position }}</div>
        <div class="sub-title">{{ course }}</div>
        <div class="row" key="1">
          <div class="col-2">
            <div class="innerstats">
              <h5>Enrollment Date</h5>
              <p>{{ date }}</p>
            </div>
          </div>
          <div class="col-2 stats">
            <div class="innerstats">
              <h5>Completion Date</h5>
              <p>{{ end }}</p>
            </div>
          </div>
          <div class="col-4 stats">
            <div class="achievements">
              <div
                v-for="achievement in achievements"
                v-bind:key="achievement.icon"
                class="achievement"
              >
                <img
                  :src="'/images/achievements/' + achievement.icon"
                  :alt="achievement.title"
                  data-toggle="tooltip"
                  data-placement="right"
                  :title="achievement.title"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="action">
        <a class="continue" :href="likeaction"
          ><p>
            <span class="icons"><i class="fas fa-thumbs-up"></i></span>
            <span>Kudos</span> <span class="numbers">{{ likes }}</span>
          </p></a
        >
        <a class="continue"
          ><p>
            <span class="icons"
              ><i class="fa fa-star" aria-hidden="true"></i
            ></span>
            <span>Follow</span> <span class="numbers">{{ followers }}</span>
          </p></a
        >
        <a class="continue" @click="isShowing ^= true"
          ><p>
            <span class="icons">
              <i class="fa fa-comment" aria-hidden="true"></i
            ></span>
            <span>Comment</span> <span class="numbers">{{ commentcount }}</span>
          </p></a
        >
      </div>
    </div>
    <div class="col-md-12 comment-section">
      <a v-if="actionType == 'no-comment'" class="no-comment text-center">
        No comments</a
      >
      <a
        v-else-if="actionType == 'has-comment'"
        @click="isComment ^= true"
        class="view-comment text-center"
        style="font-size: 17px; color: #707070"
      >
        View all comments on this milestone
        <i class="fa fa-angle-down" aria-hidden="true"></i
      ></a>

      <div v-show="isComment" class="comment-inner">
        <div v-for="comment in comments" :key="comment.id" class="com">
          <div class="course-title">
            <div class="row">
              <div class="col-1">
                <img v-if="comment.pic" :src="'/uploads/' + comment.pic" :alt="comment.name" />

                 <img v-else :src="'/uploads/images.jpg'" :alt="comment.name" />
              </div>
              <div class="col-10">
                <div class="title">{{ comment.name }}</div>
                <div class="row">
                  <div class="col-md-12">
                    <p class="text-left">{{ comment.comment }}</p>

                    <p style="text-align: left">
                      <span
                        ><a
                          style="
                            color: #818181;
                            font-weight: normal;
                            font-size: 16px;
                          "
                          @click="isCommentLevel ^= true"
                        >
                          <i
                            class="far fa-comment-alt"
                            style="font-size: 1rem"
                          ></i>
                          Reply
                        </a></span
                      >

                      <span>
                        <sub-comment
                          :comment="comment.id"
                          :follow="follow"
                          :courseid="courseid"
                      /></span>
                    </p>
                  </div>
                </div>

                <!-- <div class="row lower-action">
                  <div class="col-md-12">
                     <a class="continue">{{getSubCommentCount(comment.id)}} Replies</a> 

                    <a style="color: #818181" @click="isCommentLevel ^= true">
                      <i class="far fa-comment-alt" style="font-size: 1rem"></i>
                      Reply
                    </a>
                  </div>
                </div> -->

                <sub-comments
                  v-show="isCommentLevel"
                  :unique="comment.id"
                  :follow="follow"
                  :courseid="courseid"
                  :commentaction="commentaction"
                  :csrf="csrf"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <comment
      v-show="isShowing"
      :unique="unique"
      :follow="follow"
      :courseid="courseid"
      :commentaction="commentaction"
      :csrf="csrf"
    />
  </div>
</template>

<style lang="scss" scoped>
.achievements {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  align-content: center;
  text-align: center;
  .achievement {
    text-align: center;
    img {
      cursor: pointer;
      max-width: 60px;
    }
  }
  img {
    margin-right: 5px;
  }
}

.my-course {
  padding: 1% 0;
  border-bottom: 1px solid #ccc;
  .preview-img {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
    object-fit: contain;
    padding: 0;
  }
  .course-title {
    text-align: left;
    .title {
      padding: 5px 0;
      a {
        font-size: 16px;
        color: #FF6C0D;
        text-align: left;
        background: none;
        padding: 0;
      }
    }
    .sub-title {
      font-size: 14px;
      color: #707070;
      font-weight: bold;
    }
    .row {
      margin-bottom: 1%;
      margin-top: 1%;
    }
    .innerstats {
      border: 1px solid #cecece;
      text-align: center;
      h5 {
        color: #707070;
        font-size: 15px;
        padding-top: 5%;
      }
      p {
        font-size: medium;
        text-align: center;
        padding: 0;
        color: #707070;
        font-size: 13px;
      }

      .stats {
        margin-left: -15px;
      }
    }
  }
}
.detail-card .course-content {
  .action {
    display: grid;
    position: absolute;
    right: 0;
    bottom: 8%;
    width: 80%;
    a {
      padding: 0;
      margin-top: 5px;
      color: #f87522 !important;
      font-size: 12px;
      text-align: center;
      cursor: pointer;
      background: #FEB686;
    }
    a:hover {
      text-decoration: none;
    }
    p {
      margin: 0;
      padding: 0;
      color: #404040 !important;
      text-align: unset;
      span.icons {
        float: left;
        background: #FF6C0D;
        width: 25%;
        height: auto;
        color: #fff;
        padding: 5px;
        text-align: center;
      }
      span {
        float: left;
        padding: 4% 5%;
      }
      span.numbers {
        float: right;
        border-left: 1px solid #fff;
        width: 20%;
      }
    }
  }
}

.comment {
  margin-top: 20px;
  a.canceled {
    display: initial !important;
    background: #fff !important;
    padding: 1% 4%;
    border: 2px solid #23245f;
    text-align: center;
    border-radius: 2rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 0;
    flex-grow: 1;
    cursor: pointer;
  }
}

.comment-section {
  .com {
    border-bottom: none;
  }
  .no-comment {
    display: none;
  }
  .view-comment {
    display: block;
    background: #fff;
    padding: 0 !important;
    color: #999999;
    cursor: pointer;
  }

  .comment-inner {
    background: #ffffff;
    padding: 1% 0;
    height: auto;
    overflow: auto;
    width: 70%;
    margin: auto;
    .course-title {
      text-align: left;
      padding: 20px;
      padding-top: 5px;
      .title {
        padding: 5px 0;
        font-size: 15px;
        color: #424242;
        text-align: left;
        background: none;
        padding: 0;
        font-weight: bold;
      }
      .sub-title {
        font-size: 12px;
        color: #707070;
        font-weight: bold;
        span {
          float: right;
          font-size: 12px;
          color: #707070;
        }
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin: auto;
        background-size: cover;
        float: right;
      }
      .row {
        margin-bottom: 1%;
        margin-top: 0;
        p {
          color: #666666;
          font-size: 15px;
          padding: 1% 0;
        }
      }
      a.continue {
        background: #23245f;
        padding: 0.75% 2.5%;
        color: #fff !important;
        font-size: 14px !important;
        border-radius: 28px;
      }
      a.purple-borderd {
        padding: 0.15% 0.5%;
        border: 2px solid #f87522;
        color: #fff;
        background: #f87522;
        font-size: 12px;
      }
      .comment-save-btn {
        font-size: 14px;
      }
      .comment-cancel-btn {
        font-size: 14px;
      }
      .comment-btn:hover {
        background: unset;
      }
      .lower-action {
        p {
          padding: 5px !important;
          color: #fff;
          font-size: 14px !important;
          float: right;
          text-align: center !important;
          span {
            padding-right: 5px;
            margin-right: 5px;
          }
          .numbers {
            float: right;
            border: left;
            border-left: 1px solid;
            padding-left: 5px;
          }
          .icons {
            float: left;
          }
        }
        a.canceled {
          display: initial !important;
          background: #fff !important;
          padding: 1%;
          border: 2px solid #49237e;
          text-align: center;
          border-radius: 2rem;
          position: relative;
          z-index: 0;
          overflow: hidden;
          margin: 0;
          flex-grow: 1;
          cursor: pointer;
          color: #49237e;
          float: right;
        }
      }
    }
    .replies {
      color: #313131;
      float: left;
    }
  }
}

@media (max-width: 1444px) {
  .action {
    top: 0px;
  }
}
.comment-save-btn {
  font-size: 14px;
}
.comment-cancel-btn {
  font-size: 14px;
}
</style>

<script>
import FeedAction from "./FeedAction.vue";
import Comment from "./Comments.vue";
import SubComments from "./SubComments.vue";
import SubComment from "./SubComment.vue";
import axios from "axios";
export default {
  components: {
    FeedAction,
    Comment,
    SubComment,
    SubComments,
  },
  data: function () {
    return {
      more: false,
      isModalVisible: false,
      isShowing: false,
      passMark: 0.8,
      isComment: false,
      isCommentLevel: false,
      comments: {},
      childCount: {},
      subComment: {},
      commentlikes: {},
    };
  },
  props: [
    "title",
    "image",
    "date",
    "start",
    "end",
    "enrolled",
    "progress",
    "status",
    "position",
    "prevScore",
    "currentScore",
    "likes",
    "likeaction",
    "action",
    "course",
    "unique",
    "followers",
    "commentcount",
    "commentaction",
    "follow",
    "courseid",
    "mylike",
    "csrf",
  ],
  methods: {
    toggleMore: function (e) {
      this.more = !this.more;
    },
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },

    getBlockComment() {
      axios
        .get("/profile/comments/" + this.follow + "/" + this.courseid)
        .then((response) => {
          this.comments = response.data.details;
        });
    },
    getSubCommentCount: function (id) {
      axios
        .get(
          "/profile/subCommentCount/" +
            this.follow +
            "/" +
            this.courseid +
            "/" +
            id
        )
        .then((response) => {
          this.childCount = response.data.count;
        });
    },
    getSubComment(id) {
      axios
        .get(
          "/profile/subComment/" + this.follow + "/" + this.courseid + "/" + id
        )
        .then((response) => {
          this.subComment = response.data.subdetails;
          console.log(this.subComment);
        });
    },
  },
  created() {
    this.getBlockComment();
    this.getSubComment();
    this.getSubCommentCount();
  },
  computed: {
    achievements: function () {
      const achieved = [];

      //console.log(this.mylike);

      if (this.status == "Completed") {
        this.completed = true;
      }
      //console.log(this.status);

      //Started course
      if (
        this.status == "In Progress" ||
        this.completed ||
        this.status == "Completed but Failed"
      ) {
        achieved.push({
          icon: "Dark_rocket.png",
          title: "Has started the course!",
        });
      }

      //Finished course
      if (this.completed & (this.currentScore >= 0.7)) {
        achieved.push({
          icon: "Dark_trophy.png",
          title: "Has completed the module!",
        });
      } else {
        achieved.push({
          icon: "Light_trophy.png",
          title: "Has not completed the module!",
        });
      }
      return achieved;
    },

    actionType: function () {
      if (this.commentcount == 0) {
        return "no-comment";
      }
      if (this.commentcount > 0) {
        return "has-comment";
      }
    },

    likeType: function () {
      if (this.mylike == 0) {
        return "no-like";
      }
      if (this.mylike > 0) {
        return "has-like";
      }
    },
    commentType: function () {
      if (this.childCount == 0) {
        return "no-comment";
      }
      if (this.childCount > 0) {
        return "has-comment";
      }
    },
  },
};
</script>
